@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
li,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
.login {
	width: 100%;
	height: 100vh;
	background: linear-gradient(45deg, #093d3d, #454d4e);
	position: relative;
	overflow: hidden;
	padding-top: 10vh;
	.inner {
		width: 1180px;
		height: 80vh;
		background: #eee;
		margin: 0 auto;
		.con {
			width: 100%;
			height: 100%;

			&::after {
				content: '';
				display: block;
				clear: both;
			}
			.loginVisual {
				width: 50%;
				height: 100%;
				float: left;
				background: #195158;
				position: relative; //추가
				overflow: hidden; //추가
				.logo {
					width: 40%;
					position: absolute;
					top: 40%;
					left: 50%;
					transform: translateX(-50%);
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.bottomVisual {
					width: 100%;
					position: absolute;
					bottom: 0px;
					left: 0px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.reflection {
					width: 100%;
					height: 100%;
					position: absolute;
					top: -20%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						filter: blur(4px) invert(30%);
					}
				}
				.sun {
					width: 300px;
					height: 300px;
					position: absolute;
					margin-top: -100px;
					margin-left: -100px;
				}
			}
			.loginInfo {
				width: 50%;
				height: 100%;
				float: left;
				position: relative;
				h1 {
					width: 100%;
					font: 100px/1 'Orbitron';
					text-align: center;
					position: absolute;
					top: 40%;
					left: 50%;
					transform: translate(-50%, -80%);
				}
				.loginBox {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}
